    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg==" crossorigin="anonymous" type="text/css">
        <link rel="stylesheet" href="assets/css/style.css" type="text/css">
        <title>XASCAPADE</title>

    </head>
    <section>

        <body class="container-fluid ">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">


                <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="profile.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="company.html">About</a>
                                <a class="dropdown-item" href="personal.html">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="contact.html">Admin</a>
                            </div>
                        </li>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="product.html" id="navbar Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="flight.html">Flight bookings</a>
                                <a class="dropdown-item" href="accommodation.html">Accommodation</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Game drives</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link enabled" href="#">Contact</a>
                        </li>
                    </ul>

                </div>
            </nav>


            <body>
                <Section class="container-fluid inline-block">
                    <div class="background-image" id="bgimg1">
                        <hr class="my-4 inline-block col-sm-4" id="bgimg1">
                        <div class="container">

                            <h2>Contact</h2>
                            <p>Let us book your next trip!</p>
                            <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
                            <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
                            <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
                            <form action="/action_page.php" target="_blank">
                                <p><input class="w3-input padding-16 border" type="text" placeholder="Name" required name="Name">
                                </p>
                                <p><input class="input padding-16 border" type="text" placeholder="Email" required name="Email">
                                </p>
                                <p><input class="input padding-16 border" type="text" placeholder="Message" required name="Message">
                                </p>
                                <p><button class="button  padding-large" type="submit">SEND MESSAGE</button></p>
                            </form>
                            <div class="panel padding-16 white opacity card hover-opacity-off">
                                <h2>Get the best offers first!</h2>

                                <p>Join our newsletter.</p>
                                <label>E-mail</label>
                                <input class="input border" type="text" placeholder="Your Email address">
                                <button type="button" class="button red margin-top">Subscribe</button>
                            </div>
                            <form action="action_page.php" method="post">
                                <div class="imgcontainer">
                                    <img src="img_avatar2.png" alt="Avatar" class="avatar">
                                </div>

                                <div class="container">
                                    <label for="uname"><b>Username</b></label>
                                    <input type="text" placeholder="Enter Username" name="uname" required>

                                    <label for="psw"><b>Password</b></label>
                                    <input type="password" placeholder="Enter Password" name="psw" required>

                                    <button type="submit">Login</button>
                                    <label>
                                        <input type="checkbox" checked="checked" name="remember"> Remember me
                                    </label>
                                </div>

                                <div class="container" style="background-color:#f1f1f1">
                                    <button type="button" class="cancelbtn">Cancel</button>
                                    <span class="psw">Forgot <a href="#">password?</a></span>
                                </div>
                            </form>
                        </div>
                        <!-- search -->
                        body>
                        <div class="searchForm" style="height:375px" ng-app="firstApp" ng-controller="formController">
                            <h4 style="text-align: center">Travel and Entertainment Search</h4>

                            <form action="" role="form" id="form" class="form-horizontal" style="margin-left: 86px" method="get" ng-submit="processForm()">

                                <div class="form-group">
                                    <label for="keyword" class="col-sm-2 control-lable">keyword*</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="keyword" ng-model="formData.keyword" name="keyword" data-bv-message="Please enter a keyword" required data-bv-notempty-message="" style="width: 386px; margin-left: 21px;">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="Category" class="col-sm-2 control-lable">Category</label>
                                    <div class="col-sm-10">
                                        <select name="category" class="form-control" id="Category" ng-model="formData.category" style="margin-left: 23px; width: 270px;">
                                            <option value="Default">Default</option>
                                            <option value="Airport">Airport</option>
                                            <option value="Amusement_Park">Amusement Park</option>
                                            <option value="Aquarium">Aquarium</option>
                                            <option value="Art_Gallery">Art Gallery</option>
                                            <option value="Bakery">Bakery</option>
                                            <option value="Bar">Bar</option>
                                            <option value="Beauty_Salon">Beauty Salon</option>
                                            <option value="Bowling_Alley">Bowling Alley</option>
                                            <option value="Bus_Station">Bus Station</option>
                                            <option value="Cafe">Cafe</option>
                                            <option value="Campground">Campground</option>
                                            <option value="Car_Rental">Car Rental</option>
                                            <option value="Casino">Casino</option>
                                            <option value="Lodging">Lodging</option>
                                            <option value="Movie_Theater">Movie Theater</option>
                                            <option value="Museum">Museum</option>
                                            <option value="Night_Club">Night Club</option>
                                            <option value="Park">Park</option>
                                            <option value="Parking">Parking</option>
                                            <option value="Restaurant">Restaurant</option>
                                            <option value="Shopping_Mall">Shopping Mall</option>
                                            <option value="Stadium">Stadium</option>
                                            <option value="Subway_Station">Subway Station</option>
                                            <option value="Taxi_Stand">Taxi Stand</option>
                                            <option value="Train_Station">Train Station</option>
                                            <option value="Transit_Station">Transit Station</option>
                                            <option value="Travel_Agency">Travel Agency</option>
                                            <option value="Zoo">Zoo</option>
                                        </select>
                                    </div>
                                </div>


                                <!-- End page content -->
                        </div>
                        <!-- w3school snippet -->
                        <!-- Footer -->
                        <footer class="container-fluid  opacity margin-bottom">
                            <h5>Find Us On</h5>
                            <div class="xlarge padding-16">
                                <i class="fa fa-facebook-official hover-opacity"></i>
                                <i class="fa fa-instagram hover-opacity"></i>
                                <i class="fa fa-snapchat hover-opacity"></i>
                                <i class="fa fa-pinterest-p hover-opacity"></i>
                                <i class="fa fa-twitter hover-opacity"></i>
                                <i class="fa fa-linkedin hover-opacity"></i>
                            </div>
                            <form action="/action_page.php">
                                <input type="file" id="myFile" name="filename">
                                <input type="submit">
                            </form>

                            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="hover-text-green">Xascapade</a></p>



                            <script>
                                // Get the modal
                                var modal = document.getElementById('id01');

                                // When the user clicks anywhere outside of the modal, close it
                                window.onclick = function(event) {
                                    if (event.target == modal) {
                                        modal.style.display = "none";
                                    }
                                }
                                // Tabs
                                function openLink(evt, linkName) {
                                    var i, x, tablinks;
                                    x = document.getElementsByClassName("myLink");
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    tablinks = document.getElementsByClassName("tablink");
                                    for (i = 0; i < x.length; i++) {
                                        tablinks[i].className = tablinks[i].className.replace(" teal", "");
                                    }
                                    document.getElementById(linkName).style.display = "block";
                                    evt.currentTarget.className += " teal";
                                }

                                // Click on the first tablink on load
                                document.getElementsByClassName("tablink")[0].click(); <
                                script type = "text/javascript" >
                                    // This example displays an address form, using the autocomplete feature
                                    // of the Google Places API to help users fill in the information.

                                    // This example requires the Places library. Include the libraries=places
                                    // parameter when you first load the API. For example:
                                    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

                                    var placeSearch, autocomplete;
                                var componentForm = {
                                    street_number: 'short_name',
                                    route: 'long_name',
                                    locality: 'long_name',
                                    administrative_area_level_1: 'short_name',
                                    country: 'long_name',
                                    postal_code: 'short_name'
                                };

                                function initAutocomplete() {
                                    // Create the autocomplete object, restricting the search to geographical
                                    // location types.
                                    autocomplete = new google.maps.places.Autocomplete(
                                        /** @type {!HTMLInputElement} */
                                        (document.getElementById('autocomplete')), {
                                            types: ['geocode']
                                        });

                                    // When the user selects an address from the dropdown, populate the address
                                    // fields in the form.
                                    autocomplete.addListener('place_changed', fillInAddress);
                                }

                                function fillInAddress() {

                                }

                                // Bias the autocomplete object to the user's geographical location,
                                // as supplied by the browser's 'navigator.geolocation' object.
                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoAhH36BoUXnvwwe4WS38Zx_tShnv-p8c&libraries=places&callback=initAutocomplete" async defer></script>


                            <script>
                                var firstApp = angular.module('firstApp', []);

                                function formController($scope, $http) {
                                    $scope.formData = {};
                                    $scope.processForm = function() {
                                        $http({
                                                method: 'GET',
                                                url: '',
                                                data: $.param($scope.formData),
                                                headers: {
                                                    'Content-Type': ''
                                                }
                                            })
                                            .success(function(data) {
                                                console.log(data);
                                            });
                                    };
                                }
                            </script>
                        </footer>
            </body>

    </html>